{% extends 'index/layout.html' %} {% block content %} {% load static%}
<div id="content">
  <div id="right">
    <div id="sidebar">
      <ul>
        <li>
          <h2>Archives</h2>
          <ul>
            <li><a href="#">August 2022</a> <i>(1)</i></li>
          </ul>
        </li>
        <li>
          <h2>Ranking</h2>
          <ul>
            <li><a href="#">Donec Dictum Metus</a></li>
            <li><a href="#">Etiam Rhoncus Volutpat</a></li>
            <li><a href="#">Integer Gravida Nibh</a></li>
            <li><a href="#">Maecenas Luctus Lectus</a></li>
            <li><a href="#">Mauris Vulputate Dolor Nibh</a></li>
            <li><a href="#">Nulla Luctus Eleifend</a></li>
            <li><a href="#">Posuere Augue Sit Nisl</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="left">
    <h1>Welcome to Our Website!</h1>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In nec risus
        non turpis interm rutrum. Vestibulum et metus. Nulla id magna sed dolor
        sollicitudin laoreet. tempus in, lacus. Duis tempor posuere diam.
        Suspendisse vel tellus quis nunc malesuada porta. <br />
        <br />
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In nec risus
        non turpis interdum rutrum. Vestibulum et metus.<br />
        Nulla id magna sed dolor sollicitudin laoreet. tempus in, lacus. Duis
        tempor posuere diam. Suspendisse vel tellus quis nunc malesuada
        porta.<br />
        Nulla id magna sed dolor sollicitudin laoreet. tempus in, lacus. Duis
        tempor posuere diam. Suspendisse vel tellus quis nunc malesuada porta.
      </p>
    </div>
    <div class="small">
      <p class="date">Posted on Jan 22, 2008 by Admin</p>
      <p class="file">
        Filed under <a href="#">Uncategorized</a> | <a href="#">Edit</a> |
        <a href="#">20 Comments</a>
      </p>
    </div>
    <br />
    <div>
      <h2>Lorem ipsum dolor sit amet</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In nec risus
        non turpis interm rutrum. Vestibulum et metus. Nulla id magna sed dolor
        sollicitudin laoreet. tempus in, lacus. Duis tempor posuere diam.
        Suspendisse vel tellus quis nunc malesuada porta. <br />
        <br />
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In nec risus
        non turpis interdum rutrum. Vestibulum et metus.<br />
        Nulla id magna sed dolor sollicitudin laoreet. tempus in, lacus. Duis
        tempor posuere diam. Suspendisse vel tellus quis nunc malesuada
        porta.<br />
        Nulla id magna sed dolor sollicitudin laoreet. tempus in, lacus. Duis
        tempor posuere diam. Suspendisse vel tellus quis nunc malesuada porta.
      </p>
    </div>
  </div>
  <div class="padding">Private server of World of Warcraft</div>
</div>
{% endblock content %}
